[Desktop Entry]
Version=0.2.3
Type=Application
Encoding=UTF-8
Name=Evopedia
Comment=Offline Wikipedia Reader
Exec=/usr/bin/evopedia_gui.sh
Categories=Utility
Icon=/usr/share/pixmaps/wikipedia.png
Terminal=false
