Package: evopedia
Version: 0.2.3-r2
Description: Offline Wikipedia Viewer
Section: user/education
Priority: optional
Installed-Size: 288
Maintainer: Christian Reitwiessner <christian@reitwiessner.de>
Architecture: armel
Depends: python
Source: http://www.reitwiessner.de/openmoko/evopedia.html
Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAAXNSR0IArs4c
 6QAAAAJiS0dEAP+Hj8y/AAAJYklEQVRYw+3Xa3Bd1XUH8N++D11JtiRLlpHl
 t5F5WnUMFEMZTFpImKQQoJ02FNzBSaYhQyGZTGbyqUwmDZQkw6Ql6SRNoS9o
 00BCSyglZGIYmIJDwECxMWD8wja2ZFmS9bpXV/fec87uBwvxKKRMP/VD15ez
 Zq85//9ee6299lq8h0wZBA8tvmLlW6uH5rQf2zmnx/yPCie0w+8FJXgfib2+
 uPUPN7U/vKp/9K3V6nnbzjly7zXHYffV5XVPtPUubU67/2TjHj7pRx+EYES0
 yMGP77jvkbZ79P/DLz8Nwxbhru7Woxvz/3HHaY+1raxeb12MOxx0fvjF9Bnf
 b/n+lXt26v8gHox3lW+rfe6n7trb8rVn/pG7bcax04fWtC76+V1X5Y+KXnae
 kVgKFVP+LraHi+TL+d/Z9OjjLlD6VQTHDRQXPlK/5CQj8eyXb7zwqxM/dM2J
 uPxw5uqifPhx7AsH/MK1FqrIm9Lsb/2uaZPjK/o/coQJHW9DzL2lNvA3uSVf
 KlzcEpN4Veh69KsTVGatb5Rnwp3huVgMZ0rcYptm801JjbjKXs1xfser2/+l
 /6GWDt94Pw/GFh/+xuJNhUIjfj088MTrHwu1h102a7vuggMPvvgXV/fd8pl/
 s8bJgprEUYtURJNSU7EaagPl7V+6KtTfwiy8qdQMFZM7Tv+kEONEeLT64H3P
 tKhd5tXWLX/aOH3dp8Ku2h37/qC3r2TcWiNSLVjsBRvsMi1oD+VYXJLv/fb3
 atePZkve6cGMZuPXNe5O5HWaij8LH3bx3bs+t7V558cG722qlbYn6z7cfKYx
 8+KBkNdizALUVO12usSoZscUDUirzR/9/NbHXPLOI0oXp/u2t1bjirBcEOO3
 wj9NbtpTb7MkN08g7/LYGzKZYyasMGVETk5RsM9ag2YknrMgzg9vvHHbqpC9
 LcgJZv58qHV1PCWslHO5U8Kd8dL2xjm5U0/AE1RDJpEpyqHFcot1Ksnp86J2
 RcEKz4Zy7F3+zW8y8BZBQXVt7eMdUejGLz3qU64PnSc8C4ku65xvQNWUCawS
 NeG410SHHDdPEKRed1wxlOPktfctWfL2INc+MX/BaGySKLjH2fJSUUCfS8yT
 STU87WLTooKyJxx2rddNabFQm6qgyTnOMK0m6z3wW34wR9AIxzYFuZBoiM7z
 2y4y3088rteUoigI5puSieq+Y7kurzikQ5d9ug0KutQEOXlCp8bm+IPw5hFV
 +1r78xbqkBNc5FLzpL4tk9MrL+e4MRWZoqjoRtG/+oyHLJdY46ilSkY0yyEq
 SZUveb59Lotm/rp+/VBsCUtEOfv0ahLMmNQpr+a4CW3GLZPKZDI5+7TrUJFK
 peoyO2ywQ03JcUV7bdi4+aknT3gw0t/qu+HnJgwZlCkpeNyzZmzzgryqebos
 NfZmKVe3WuagMW/IiSLmG9NtgUxeIWZevJiNJwg61ic2W6CsXZsVotQqzzvk
 XA97Qqejhu02Y7ecCA5oWGKho7qQM4gOdam6VvtDlJ07l6bjLTE+bJsiUlEm
 scZBfVJdytr1CNZaZkwNUd6wIAoyQ444olurUXl1LfYZNCGeM0fQFHNhsxu1
 GzY9+2tijRuN269DaqEODTUrjIuizIfs1K3ubInFFova7VXTraHZhHlqPQP5
 2SAPpMXcUV1OEtRndx6Ma5cpqUqkUqQGtCqZMeq4dSqiGVUFiYaGISWpumHj
 ypJsbcfny4UTj3yP0xyQCgpmBHmJBVKpqrJRQYacISebkNNjuYaDhs3Y7nyr
 ZDIdJpU1KWqSj012xdkjajcoUVeTNyPa6SWvecmQYMhuyyyySLeFps3XpV1O
 3bDHdDnNHgdkMqlUUYeahtT8MBVvn5krFWs09DnqiLpenaLUUUGmTd4Ri0SZ
 vChDVUXOMi9a7zFf9pO51Cgal0rl1HVMtqazHlSOjopyep2sR1RXkxk1ZcAB
 efNFUZTocch+41q8YsYnfM/vy/lNmVSUzH6DTlWFZ+eyqHtbiu0GJKjLkDlV
 jw6nWKNJKhOlVphntR453aZ1+oq8Jt2z1mBAi5JpB+NTml6aK3aV+w9f+XTc
 GzZaqNmkI5jS52l5NTWvukSfKJPqckCUU1Ow3qRxmaqylaZNa1VVl3gu9Fj9
 szkP5j2yonFS6NSG4CRLrZCqWOzrdkgtclSQinJe0qRXh9XqJlR0aDWo38vK
 FggOa5UpWz62cStPylG1YLSx5TS/bp5UVPGKYRVFrfpd4Rn9Bo3N3vLD+jQE
 mWjakJzEIvut0GxMRY9hdWdZ9OCamVdO1KIqZv55OO2ODZlo0DJNTlXQa5Mu
 1+qyUWE2U7LZ0nbiMW+Xl5ivxbSqukzNhFos1jvu58y5cq2xaO82K/OxJ+QN
 KOmUzpaEOAubSVGzQ4cOU6ZFSwRldVWPO8OUX/OiVkdiJZRe+csNByur3gxy
 M8MHvpN8q8WEqOCQGszezqBhVMmMRNFaVccsFzVUDXoKU1Z6TZcJLaDV2beG
 yn/r7J59Yc9ZF8TmUBeN657d8YBlRlQsVJp9XDI7rTchk6goy6Fsjx6pEUvj
 zrD4p7de9q7eNEXvddun7g7Pa0jVVGSCHXpVtUmUZ8M6oyqvIJFoyGkW1GRW
 S1R02huaRk75LPV3EuSNW77zmq9tkIvb1BybvfrtXtYwJhr1sv3qUqmTjcpm
 KWoqooq8VBBj1P/FzQM7Nb13+/7sg0NX1CzXqz4b5i2mlHSqyptxkRlTRnWJ
 Eg2TSnKOmdRi1ISq9X/2hZu9d/tewYYre+7sVYiH4oAJidRSqQVKFhiz3l5j
 SuYZVFCXqBqVqQmG42RM9d3+hZt5/f3a94NWmizsvm36y62KcSS0aZKqSwUJ
 gkymLvOUS+2Xk1NWNa0SK6Hs3JtvuC3EV53xPw2B2z5dvj0ubAixFMJsh5ep
 SzWcyLHlJiSm1NRUYzVUTQ996IabHvioLe/Cyr0bfJctzv37povC/UESGpHo
 DVXTjpnSpICqCRNqhpRU4kyoOemeUy+86YFbfeWDjbH/6Sw88ZGJ7yan5GWB
 gizmQ05ZIpGoxhiqgrHYbOCl/j++aetnneePPvic/LxzEP375cO/1/Ib032l
 fBSl0lmCIUsNJbW9cWvzfbds4T5Xv8+8/b6DOE+5EIdyWzusyJ87ubF+erKo
 3laM01NhKNvV+mT9ufrhCyYuzvgrN/hfy9Zfab3X/8v/ffkv+dle1wSIWpIA
 AAAASUVORK5CYII=
