#!/usr/bin/make -f
# -*- makefile -*-

ifeq ($(shell dpkg-vendor --derives-from meamo && echo y),y)
PATH:=/usr/bin/dh7:/usr/bin:$(PATH)
export PATH
SBOX_REDIRECT_IGNORE=/usr/bin/perl
SBOX_REDIRECT_IGNORE := /usr/bin/python
export SBOX_REDIRECT_IGNORE
export QUILT_PATCHES := "debian/patches.maemo"
endif

%:
	dh --with quilt $@

