[Desktop Entry]
Version=0.1
Type=Application
Encoding=UTF-8
Name=Evopedia
Comment=Offline Wikipedia Reader
Exec=/usr/bin/evopedia.sh
Categories=Utility
Icon=wikipedia
Terminal=false
